<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permission for camera -->
    <!-- Permission to vibrate -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
    </queries>

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/female_avatar_girl_face_woman_user_2_svgrepo_com__2_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KawatchWomenSafetyKit"
        tools:targetApi="31">
        <activity
            android:name=".DceActivity"
            android:exported="false" />
        <activity
            android:name=".CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".police_dashboard"
            android:exported="true" />
        <activity
            android:name=".PoliceMode"
            android:exported="true" />
        <activity
            android:name=".firsttime"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDC8VgCougGk-CNl9pq5-vM7ul4ZoeASm8" />

        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Login_Page"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".kit.BackgroundListener"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:permission="TODO" />
        <service
            android:name=".kit.DangerModeService"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:permission="TODO" />

        <receiver
            android:name=".kit.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <service
            android:name=".kit.DangerModeBackgroundListener"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
    </application>

</manifest>